  * {
      box-sizing: border-box;
      font-family: "Roboto Flex", sans-serif;
      font-optical-sizing: auto;
  }

  html {
      scroll-behavior: smooth;
  }

  html,
  body {
      box-sizing: border-box;
      border: 0 solid;
      margin: 0;
      padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  label {
      margin: 0;
  }

  .stylish-font {
      font-family: "Libre Bodoni", serif;
      font-size: 2rem;
      font-weight: 100;
  }

  .header {
      padding: 10px 20px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 33;
      background: #ffffffd9;
      transition: .5s all;
      box-shadow: 0 4px 6px #0000001a;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .menu-svg {
      position: absolute;
      top: 0.5rem;
      left: 1rem;
      cursor: pointer;
      margin: 0;
      border: none;
      background: transparent;
      outline: none;
      padding: 0;
      display: none;
  }

  #sideNav {
      position: fixed;
      top: 0;
      left: 0;
      width: 260px;
      height: 100vh;
      background: white;
      box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
      transform: translateX(-100%);
      transition: transform 0.35s ease;
      display: flex;
      flex-direction: column;
      z-index: 999;
      color: #364153;
  }

  #sideNav.open {
      transform: translateX(0);
  }

  h1 {
      font-size: 1.125rem;
      color: #364153;
  }

  .mobile-nav ul {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding: 1rem;
  }

  .mobile-nav li {
      display: block;
      /* makes the whole li clickable */
      text-decoration: none;
      color: inherit;
  }

  .mobile-nav .link {
      text-decoration: none;
      font-size: 1.125rem;
      font-weight: 400;
      color: #364153;
  }

  .nav {
      width: 100%;
  }

  .nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .nav li {
      display: block;
      /* makes the whole li clickable */
      text-decoration: none;
      color: inherit;

  }

  .nav .link {
      text-decoration: none;
      font-size: 1.125rem;
      font-weight: 500;
      color: #364153;
  }

  .nav .link:hover {
      text-decoration: underline;
  }

  .profile-image-section {
      position: relative;
      min-height: 70rem;
      background-image: url("./assets/png/giannis-irini-mathaios.PNG");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 2rem;

      opacity: 0;
      animation: fadeInBG 1.5s ease-out forwards;
  }

  @keyframes fadeInBG {
      from {
          opacity: 0;
      }

      to {
          opacity: 1;
      }
  }

  .absolute-image-section {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #000;
      opacity: 0.3;
      /* z-index: -1; */
  }

  .profile-image-section .title,
  .profile-image-section .date,
  .profile-image-section .time {
      position: relative;
      z-index: 1;

  }

  .profile-image-section .title {
      font-size: 3.75rem;
      color: white;
      font-weight: 200;
  }

  .profile-image-section .date {
      font-size: 1.125rem;
      color: white;
      margin-top: 0.5rem;
      text-align: center;
      font-weight: 200;
  }

  .profile-image-section .time {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      color: white;
      ;
  }

  .profile-image-section .time span:first-child {
      font-size: 2.5rem;
      font-weight: 200;
  }

  .profile-image-section .time span:nth-child(2) {
      font-size: 1rem;
      font-weight: 200;
  }


  .ceremony-reception-section {
      padding: 7rem 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      align-items: center;
      overflow: hidden;
  }

  .ceremony-reception-section h3 {
      font-size: 2rem;
      color: #364153;
      text-align: center;
  }

  .ceremony-reception {
      display: flex;
      gap: 2rem;
      justify-content: center;
      width: 100%;
  }

  .ceremony {
      padding: 3.5rem 2.5rem 2.5rem;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      gap: 5rem;
      border-radius: 0.625rem;
      border: 1px solid #ddd;
      color: #364153;
      width: 30rem;
  }

  .ceremony h2 {
      font-size: 1.5rem;
      font-weight: 500;
  }

  .ceremony-button {
      text-decoration: none;
      color: white;
      background-color: #5e6e4b;
      border-radius: 0.325rem;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 500;
      padding: 0.625rem 1.25rem;
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      width: 10rem;
  }

  .reception {
      padding: 3.5rem 2.5rem 2.5rem;
      background-color: #5e6e4b;
      gap: 5rem;
      display: flex;
      flex-direction: column;
      border-radius: 0.625rem;
      border: 1px solid #ddd;
      color: white;
      width: 30rem;
  }

  .reception-button {
      text-decoration: none;
      color: #364153;
      background: white;
      border-radius: 0.325rem;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 500;
      padding: 0.625rem 1.25rem;
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      width: 10rem;
  }

  .reception h2 {
      font-size: 1.5rem;
      font-weight: 500;
  }

  /* parallax ceremony,reception */
  /* Hidden before animation */
  .ceremony,
  .reception,
  .god-father-container,
  .save-the-date-container,
  .family-container {
      /* default so it stays still if JS fails */
      transition: all 0.5s ease;
  }

  /* Ceremony: enters from left */
  .ceremony.animate {
      opacity: 1;
      transform: translateX(0);
  }

  .ceremony.init {
      opacity: 0;
      transform: translateX(-70%);
      /* start left */
  }

  /* Reception: enters from right */
  .reception.animate {
      opacity: 1;
      transform: translateX(0);
  }

  .reception.init {
      opacity: 0;
      transform: translateX(70%);
      /* start right */
  }

  .save-the-date-section {
      background-color: #5e6e4b;
      padding: 7rem 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      overflow: hidden;
  }

  .save-the-date-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      overflow: hidden;
  }

  /* Ceremony: enters from left */
  .save-the-date-container.animate {
      transform: translateY(0);
      opacity: 1;
  }

  .save-the-date-container.init {
      transform: translateY(50%);
      opacity: 0;
      /* start left */
  }

  .god-father-section {
      background-color: #5e6e4b;
      padding: 7rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      overflow: hidden;
  }

  .god-father-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      overflow: hidden;
  }

  /* Ceremony: enters from left */
  .god-father-container.animate {
      transform: translateY(0);
      opacity: 1;
  }

  .god-father-container.init {
      transform: translateY(50%);
      opacity: 0;
      /* start left */
  }

  .family-section {
      padding: 7rem 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #222222;
      overflow: hidden;
  }


  .family-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      overflow: hidden;
  }

  /* family: enters from left */
  .family-container.animate {
      opacity: 1;
      transform: translateX(0);
  }

  .family-container.init {
      opacity: 0;
      transform: translateX(-70%);
      /* start left */
  }

  .family-section p {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      text-align: center;
      font-size: 0.9rem;
      font-weight: 300;
  }

  .img-heart {
      width: 300px;
      aspect-ratio: 1;
      object-fit: cover;
      --_m: radial-gradient(#000 69%, #0000 70%) 84.5%/50%;
      -webkit-mask-box-image: var(--_m);
      mask-border: var(--_m);
      clip-path: polygon(-41% 0, 50% 91%, 141% 0);
  }

  /* fallback until better support for mask-border */
  @supports not (-webkit-mask-box-image: var(--_m)) {
      .img-heart {
          --_m:
              radial-gradient(at 70% 31%, var(--c) 29%, #0000 30%),
              radial-gradient(at 30% 31%, var(--c) 29%, #0000 30%),
              linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
          -webkit-mask: var(--_m);
          mask: var(--_m);
      }
  }

  .god-father-section .name {
      font-size: 1.25rem;
  }

  @media screen and (max-width: 1050px) {
      h1 {
          font-size: 1rem;
      }

      .nav {
          display: none;
      }

      .menu-svg {
          display: block;
      }


      .profile-image-section .title {
          font-size: 1.5rem;
      }

      .ceremony {
          width: 100%;
          gap: 2.5rem;
      }

      .reception {
          width: 100%;

          gap: 2.5rem;
      }

  }

  @media screen and (max-width: 768px) {
      .profile-image-section {
          min-height: 60vh;
      }

      .ceremony-reception {
          flex-direction: column;
          justify-content: center;
          width: 100%;
      }


      .ceremony {
          width: 100%;
          gap: 2.5rem;
      }

      .reception {
          width: 100%;

          gap: 2.5rem;
      }

  }
  